/* style for paragraph modal box */
div.autocomplete-deluxe-throbber {
  position: absolute;
  height: auto;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

div.autocomplete-deluxe-container input.autocomplete-deluxe-form {
  background: transparent;
  box-shadow: none;
}

.autocomplete-deluxe-item {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.autocomplete-deluxe-item-delete {
  top: 8px;
}

.block-help.block-help-block {
  max-width: 100%;
}

.image-style-new .button {
  margin-left: 10px;
}

.action-link {
  line-height: 1rem;
}

.block-system-main-block .layer-wrapper {
  overflow-x: auto;
  width: 100%;
}

.content-header .is-horizontal-enabled:not(.is-horizontal) .tabs__link.js-tabs-link.is-active {
  color: #003CC5;
}

.content-header .is-horizontal-enabled:not(.is-horizontal) .tabs__link.js-tabs-link {
  color: #545560;
}

.field--name-field-content .layer-wrapper .field-multiple-table {
  margin-bottom: 16px;
}

.paragraphs-features__add-in-between__wrapper {
  padding-bottom: 4px;
}

.field--type-social-media .form-type--checkbox .form-item__label {
  display: inline;
}

.dropbutton--single {
  border: none;
}

.dropbutton--single .dropbutton__item--extrasmall .button {
  line-height: 2.2rem;
}

.ui-dialog .paragraphs-add-dialog--categorized.ui-widget-content.ui-dialog-content {
  max-height: 86vh!important;
}

.tabs-wrapper .tabs--secondary:before {
  content: none;
}

.js .dropbutton-wrapper.open .dropbutton-widget {
  z-index: 103;
}

.paragraphs-actions .paragraphs-previewer.button {
  padding: calc(0.25rem - 1px) calc(0.75rem - 1px);
  height: 1.75rem;
  min-height: 1.75rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  font-size: 0.79rem;
}

.vertical-tabs__items .token-dialog {
  margin-left: 24px;
}

.js .paragraphs-add-dialog--categorized .paragraphs-button--add-more:hover,
.js .paragraphs-add-dialog--categorized .paragraphs-button--add-more:not(:focus):hover,
.ui-dialog.ui-dialog-off-canvas.paragraphs-ee-off-canvas--browser #drupal-off-canvas .paragraphs-add-dialog--categorized .paragraphs-button--add-more:hover,
.ui-dialog.ui-dialog-off-canvas.paragraphs-ee-off-canvas--browser #drupal-off-canvas .paragraphs-add-dialog--categorized .paragraphs-button--add-more:not(:focus):hover {
  background: none;
  border-color: #a6a6a6 !important;
}

.js .paragraphs-add-dialog--categorized .paragraphs-button--icon,
.ui-dialog.ui-dialog-off-canvas.paragraphs-ee-off-canvas--browser #drupal-off-canvas .paragraphs-add-dialog--categorized .paragraphs-button--icon {
  background-size: contain;
  height: 60px;
  margin: 25px 0 35px;
}

.js .paragraphs-add-dialog--categorized.paragraphs-style-list .paragraphs-add-dialog-row button {
  max-width: 100%;
}

.paragraphs-tabs-wrapper .field--name-field-social-media table th {
  border-radius: 0;
}
.field--name-field-social-media .ief-entity-table .ief-row-form {
  border: none;
}
.field--name-field-social-media  .ief-form>.form-wrapper>.form-wrapper:last-of-type {
  margin: 0;
}

.field--name-created .form-items-inline > .form-item,
.field--name-publish-on .form-items-inline > .form-item,
.field--name-unpublish-on .form-items-inline > .form-item {
  display: block;
}
.field--name-created .form-items-inline .form-element,
.field--name-publish-on .form-items-inline .form-element,
.field--name-unpublish-on .form-items-inline .form-element {
  width: 100%;
}

.field--name-field-premium {
  display: flex;
}
.field--name-field-premium .form-item {
  display: flex;
  flex-direction: row-reverse;
  margin: .5rem 0;
}
.field--name-field-premium .form-item__label {
  font-weight: bold;
  padding-right: 5px;
}
.gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary .gin-sidebar .form-actions .button {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary .gin-sidebar .form-actions .form-submit {
  margin-top: 0;
  font-size: 1rem;
}
.gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary .gin-sidebar .form-actions .form-submit:hover {
  background-color: #0550e6;
  color: white;
}

.gin--edit-form .page-wrapper__node-edit-form .block-page-title-block .page-title {
  width: calc(100% - 415px);
}

.gin-sidebar .form-actions .save-edit {
  position: fixed;
  right: 428px;
  top: 20px;
}

.layout-region-node-actions {
  margin-right: 150px;
}
