/* style for paragraph modal box */
.paragraphs-add-dialog-list .paragraphs-add-wrapper  {
   margin: 0 0.75em 0 0;
}

.paragraphs-tabs-wrapper .form-actions {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: baseline;
}

.paragraphs-tabs-wrapper .form-actions .paragraph-type-add-modal-button {
  margin-right: 10px;
}

.paragraphs-tabs-wrapper .form-actions .placeholder {
  margin-left: 5px;
}

.content-header {
  background: #202020;
}

.content-header *,
.content-header  .breadcrumb__item,
.content-header  .breadcrumb__link,
.content-header .is-horizontal .tabs__link:focus,
.content-header .tabs__link.is-active {
  color: #fff;
}

.content-header  .is-horizontal .tabs__link.is-active::before {
  border-color: #fff;
}

.content-header  .is-horizontal .tabs__link:hover {
  color: #0036b1;
}

.field--type-social-media .form-type--checkbox .form-item__label {
  display: inline;
}

.ui-dialog .paragraphs-add-dialog--categorized.ui-widget-content.ui-dialog-content {
  max-height: 90vh!important;
}

.js .paragraphs-add-dialog--categorized .paragraphs-button--icon, .ui-dialog.ui-dialog-off-canvas.paragraphs-ee-off-canvas--browser #drupal-off-canvas .paragraphs-add-dialog--categorized .paragraphs-button--icon {
  background-size: contain;
  height: 70px;
  margin: 25px 0;
}

.js .paragraph-type-icon {
  width: auto;
}
